@import '../../assets/base.scss';

.navbar-wrap{
  padding: 18px 20px;
  & .navbar{
    display: flex;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
    & .nav-item{
      margin: 0 20px;
      color: $text-color;
      &:hover{
        color: #45A29E;
      }
      &.active{
        background-color: $title-color;
        color: $bg-color;
      }
    }
  }
}
